

.faq-container {
  width: 75%;
  margin: 0 auto;
}
.enroll-text {
  margin: 3rem 0;
}

.faq-list h3 {
  border-left: 0.3rem solid red;
  margin: 2rem 0;
  padding: 0 1rem;
}
.faq-list ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.faq-list ul li {
  font-size: 1rem;
  border-bottom: 1px solid #d8cece;
  padding: 1.8rem 0;
}

.faq-list ul li p:first-of-type {
  font-weight: bold;
  padding: 8px 0;
}

.faq-list ul li:last-of-type {
  margin-bottom: 3rem;
}
