* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navy-blue: #0a2f8d;
  --navy-bluer: #00113e;
  --navy-dark: #212529;
  --orange-blue: #ff4300;
  --orange-light: #ff483c;
  --orange-lighter: #f26d3e;
  --whitish: #f9fbff;
}


/* extra header work */
.sub-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #00113e;
  padding:1rem;
}
.sub-header img {
  height: 10rem;
}
.sub-header p {
  font-size: 1.2rem;
  font-weight: bolder;
}

.help{
  background: #DAEDFF;
}
.faq {
  background: #dafff6;
}
.verify {
  background: #dafff2;
}
.enroll,
.foreigner-enroll {
  background: #ebf0ff;
}
.vaccine-status {
  background: #dfffda;
}
.vaccine-card {
  background: #feffda;
}


/* all-in-one-container */
.all-in-one-container{
  width: 73%;
  margin: 0 auto;
}

.all-in-common-larger-text{
  font-size: .85rem;
  margin: 3rem 0;
}
.all-in-common-text{
  margin: 3rem 0;
border-left: 5px solid red;
padding: 0 .8rem;
}

.red{
  color: rgb(245, 9, 9);
  font-weight: bold;
}
@media screen and (max-width: 928px) {
  .sub-header {
    flex-direction: column;
    height: 100%;
    padding: 2rem;
  }
}
